@tailwind base;
@tailwind components;
@tailwind utilities;
/* Reset box model to ensure consistent styling */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Optional: Set a base font */
    box-sizing: border-box;
}
@layer components {
    .spinner {
        margin: 3.2rem auto 1.6rem;
        width: 60px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 8px solid theme('colors.primary.900');
        border-right-color: theme('colors.primary.200');
        animation: rotate 1s infinite linear;
    }

    .spinner-mini {
        margin: 0;
        width: 20px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 2px solid theme('colors.primary.200');
        border-right-color: transparent;
        animation: rotate 1s infinite linear;
    }

    @keyframes rotate {
        to {
            transform: rotate(1turn);
        }
    }
}

/* For data picker */
.rdp {
    --rdp-cell-size: 42px !important;
    --rdp-accent-color: theme('colors.accent.500') !important;
    --rdp-background-color: theme('colors.accent.600') !important;
    margin: 0 !important;
}
.rdp-months {
    justify-content: center;
}
@media (max-width: 768px) {
    html {
        font-size: 75%;
    }
}
@media (max-width: 640px) {
    html {
        font-size: 68.75%;
    }
}
/* @media (max-width: 550px) {
    html {
        font-size: 60%;
    }
} */
